httpx==0.27.2
langchain
langchain-cli
pydantic
langchain-community
langchain-openai
langchain-text-splitters
langchain-azure-ai
langserve[server]
openai
pypdf
python-multipart
unstructured
markdown
tiktoken
python-jose[cryptography]
cachetools
azure-cosmos
python-docx
