langchain
langchain-cli
pydantic==1.10.18
langchain-community
langchain-openai
langchain-text-splitters
langserve[server]
openai
pypdf
python-multipart
unstructured
markdown
tiktoken
python-jose[cryptography]
cachetools
azure-cosmos